<div class="container-xl">
	
	<div class="table-responsive">
		<div class="table-wrapper">
			<div class="table-title">
				<div class="row">
					<div class="col-sm-6">
						<h2>Gerer <b>Produit</b></h2>
					</div>
					<div class="col-sm-6">
						<a href="#addEmployeeModal" class="btn btn-success" data-toggle="modal"><i class="material-icons">&#xE147;</i> <span>Ajouter Nouveau Produit</span></a>					
					</div>
				</div>
			</div>
			<table class="table table-striped table-hover">
				<thead>
					<tr>
						<th>
							<span class="custom-checkbox">
								<input type="checkbox" id="selectAll">
								<label for="selectAll"></label>
							</span>
						</th>
						<th>Id</th>
						<th>Name</th>
						<th>Image</th>
						<th>Categorie</th>
						<th>Actions</th>
					</tr>
				</thead>
				<tbody>
					<tr *ngFor= "let produit of produits | paginate : {
						itemsPerPage: pageSize,
						currentPage: page,
						totalItems: count
					  };
				let i = index" [class.active]="i == currentIndex"
				(click)="setActiveTutorial(i)">
				
						<td>
							<span class="custom-checkbox">
								<input type="checkbox" id="checkbox1" name="options[]" value="1">
								<label for="checkbox1"></label>
							</span>
						</td>
						<td>{{produit?.id}}</td>
						<td>{{produit?.nomProduit}}</td>
						<td id="foodImg">
							<img src="{{ host + produit.imageProduit }}"/>
						</td>  
						<td>{{produit?.categorie?.libelle}}</td>
						<td>
							<a href="" (click)="deleteProduit(produit.id)" class="delete" data-toggle="modal"><i class="material-icons" data-toggle="tooltip" title="Delete">&#xE872;</i></a>
							<a  class="edit" (click)="onUpdate(produit?.id)"   ><i class="material-icons" data-toggle="tooltip" title="Edit">&#xE254;</i></a>

						</td>
					</tr>
				</tbody>
			</table>
			<div class="clearfix">
				<div class="col-md-12">
					
				  </div>
				<div class="hint-text" *ngIf="produit">Showing <b>{{produits.length}}</b> out of <b>{{count}}</b> products</div>
				<ul class="pagination">
					<pagination-controls
					  previousLabel="Prev"
					  nextLabel="Next"
					  responsive="true"
					  (pageChange)="handlePageChange($event)"
					></pagination-controls>
				</ul>
			</div>
		</div>
	</div>        
</div>
<!-- Add Modal HTML -->
<div id="addEmployeeModal" class="modal fade" >
	<div class="modal-dialog modal-dialog-scrollable" role="document">
		<div class="modal-content">
			<form name="form" #f="ngForm" (ngSubmit)="f.valid && addProduit(f.value)" novalidate>
				<div class="modal-header">						
					<h4 class="modal-title">Ajouter Produit</h4>
					<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
				</div>
				<div class="modal-body">
					<div class="alert alert-danger alert-dismissible" *ngIf="errorMessage == true">
						<button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
						<h5><i class="icon fas fa-ban"></i> Notification!</h5>
						Une erreur s'est produite lors de l'envoi de l'enregistrement d'un nouveau produit veuillez réessayer 
					</div>
					<div class="alert alert-success alert-dismissible" *ngIf="successMessage == true">
						<button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
						<h5><i class="icon fas fa-check"></i> Notification!</h5>
						Produit ajouter avec succes
					</div>				
					<div class="form-group">
						<label>Libelle Produit</label>
						<input type="text" class="form-control" name="nomProduit" ngModel required>
						
					</div>
					<div class="form-group">
						<label class="btn btn-default">
							<input type="file" (change)="selectFile($event)" required>
						</label>
					</div>
					<div class="form-group">
						<label>Choisir Categorie</label>
						<select class="custom-select" (ngModelChange)="onSelectedCategorie($event)" (ngModel)="categorie" name="categorie">
							<option [ngValue]="c" *ngFor="let c of categories" >
								{{c.libelle}}
							</option>
						</select>
					</div>
					


					<div class="form-group">
						<label>Choisir Les Ingredients</label>
						<li *ngFor="let ingr of ingredients">
							<input type="checkbox" name="ingredients" (change) ="onCheckedIngredient(ingr,$event)">  {{ingr.nameIngredient}}
						</li>
					</div>
					
					<a href="#addDescription" class="btn btn-primary btn-block" data-toggle="modal">Ajouter Description</a>
					<br>
					<div *ngIf="descriptions!=null">
							<div *ngFor="let des of descriptions">
							  <div class="card card-primary">
								<div class="card-header">
								  <h3 class="card-title">Description</h3>
				  
								  <div class="card-tools">
									<button type="button" class="btn btn-tool" data-card-widget="collapse">
									  <i class="fas fa-minus"></i>
									</button>
								  </div>
								  <!-- /.card-tools -->
								</div>
								<!-- /.card-header -->
								<div class="card-body">
									<dl class="row">
										<dt class="col-sm-4">Description</dt>
										<dd class="col-sm-8">{{des.description}}</dd>
										<dt class="col-sm-4">Taille</dt>
										<dd class="col-sm-8">{{des.size}}</dd>
										<dt class="col-sm-4">Prix</dt>
										<dd class="col-sm-8">{{des.price}} Dt</dd>
										<dt class="col-sm-4">Nombre Viandes</dt>
										<dd class="col-sm-8">{{des.nbViande}}</dd>
										<dt class="col-sm-4">Nombre Viandes</dt>
										<dd class="col-sm-8">{{des.nbIngr}}</dd>
									  </dl>
								</div>
								<!-- /.card-body -->
							  </div>
							  <!-- /.card -->
							</div>
						</div>			
				</div>
				<div class="modal-footer">
					<input type="button" class="btn btn-default" data-dismiss="modal" value="Cancel">
					<input type="submit" class="btn btn-success" value="Add">
				</div>
			</form>
		</div>
	</div>
</div>
<!-- Edit Modal HTML -->
<div id="editEmployeeModal" class="modal fade">
	<div class="modal-dialog">
		<div class="modal-content">
			<form>
				<div class="modal-header">						
					<h4 class="modal-title">Edit Employee</h4>
					<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
				</div>
				<div class="modal-body">					
					<div class="form-group">
						<label>Name</label>
						<input type="text" class="form-control" required>
					</div>
					<div class="form-group">
						<label>Email</label>
						<input type="email" class="form-control" required>
					</div>
					<div class="form-group">
						<label>Address</label>
						<textarea class="form-control" required></textarea>
					</div>
					<div class="form-group">
						<label>Phone</label>
						<input type="text" class="form-control" required>
					</div>					
				</div>
				<div class="modal-footer">
					<input type="button" class="btn btn-default" data-dismiss="modal" value="Cancel">
					<input type="submit" class="btn btn-info" data-dismiss="modal" value="Save">
				</div>
			</form>
		</div>
	</div>
</div>
<!-- Delete Modal HTML -->
<div id="deleteEmployeeModal" class="modal fade">
	<div class="modal-dialog">
		<div class="modal-content">
			<form>
				<div class="modal-header">						
					<h4 class="modal-title">Delete Employee</h4>
					<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
				</div>
				<div class="modal-body">					
					<p>Are you sure you want to delete these Records?</p>
					<p class="text-warning"><small>This action cannot be undone.</small></p>
				</div>
				<div class="modal-footer">
					<input type="button" class="btn btn-default" data-dismiss="modal" value="Cancel">
					<input type="submit" class="btn btn-danger" value="Delete">
				</div>
			</form>
		</div>
	</div>
</div>


<!-- Add Description -->
<div id="addDescription" class="modal fade">
	<div class="modal-dialog">
		<div class="modal-content">
			<form #f2="ngForm" (ngSubmit)="addDescription(f2.value)">
				<div class="modal-header">						
					<h4 class="modal-title">Ajouter Produit</h4>
					<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
				</div>
				<div class="modal-body">					
					<div class="form-group">
						<label>Description</label>
						<input type="text" class="form-control" name="description" ngModel required>
					</div>
					<div class="form-group">
						<label>Taille</label>
						<input type="text" class="form-control" name="size" ngModel required>
					</div>

					<div class="form-group">
						<label>Prix</label>
						<input type="number" class="form-control" name="price" ngModel required>
					</div>

					<div class="form-group">
						<label>Nombre De Viandes</label>
						<input type="number" class="form-control" name="nbViande" value="0" ngModel required>
					</div>
					<div class="form-group">
						<label>Nombre De ing</label>
						<input type="number" class="form-control" name="nbIngr" value="0" ngModel required>
					</div>
					
				</div>
				<div class="alert alert-success alert-dismissible" *ngIf="descriptionAdded">
					<button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
					<h5><i class="icon fas fa-check"></i> Notification!</h5>
					Description Ajouter avec succes
				  </div>
				<div class="modal-footer">
					<input type="button" class="btn btn-default" data-dismiss="modal" value="Cancel">
					<input type="submit" class="btn btn-success" value="Add">
				</div>
			</form>
		</div>
	</div>
</div>
