<!-- Navbar -->
<nav class="main-header navbar navbar-expand navbar-white navbar-light">
    <!-- Left navbar links -->
    <ul class="navbar-nav">


      <li class="nav-item" *ngIf="showAdminBoard">
        <a class="nav-link" data-widget="pushmenu" href="#"  (click)="logout()" role="button"><i class="fas fa-sign-out-alt"> Déconnecter</i></a>
      </li>
    </ul>

  

   
  </nav>
