
    <div class="container-xl">
        <div class="table-responsive">
            <div class="table-wrapper">
                <div class="table-title">
                    <div class="row">
                        <div class="col-sm-6">
                            <h2> <b>Categories</b></h2>
                        </div>
                        <div class="col-sm-6">
                            <a href="#addEmployeeModal" class="btn btn-success" data-toggle="modal"><i class="material-icons">&#xE147;</i> <span>Ajouter nouvelle categorie</span></a>	
                        </div>
                    </div>
                </div>
                <table class="table table-striped table-hover">
                    <thead>
                        <tr>
                            <th>
                                <span class="custom-checkbox">
                                    <input type="checkbox" id="selectAll">
                                    <label for="selectAll"></label>
                                </span>
                            </th>
                            <th>id</th>
                            <th>libelle</th>
                            <th>image</th>
                            <th>Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let c of categories">
                            <td>
                                <span class="custom-checkbox">
                                    <input type="checkbox" id="checkbox1" name="options[]" value="1">
                                    <label for="checkbox1"></label>
                                </span>
                            </td>
                            <td>{{ c?.id }}</td>
                            <td>{{ c?.libelle }}</td>
                            
                            
                            <td>
                                <img src="{{ host + c.image }}"/>
                            </td>  
                          
                            <td>
                                <a href="" class="delete" (click)="deleteCateg(c.id)" data-toggle="modal"><i class="material-icons" data-toggle="tooltip" title="Delete">&#xE872;</i></a>
                                <a href="#editEmployeeModal" class="edit" (click)="getExtraUpdate(c?.id)"  data-toggle="modal" ><i class="material-icons" data-toggle="tooltip" title="Edit">&#xE254;</i></a>

                            </td>
                        </tr>

                    </tbody>
                </table>
            </div>
        </div>        
    </div>
    <!-- Edit Modal HTML -->
    <div id="addEmployeeModal" class="modal fade">
        <div class="modal-dialog">
            <div class="modal-content">
                <form #f="ngForm" (ngSubmit)="addCategorie(f.value)">
                    <div class="modal-header">						
                        <h4 class="modal-title">Ajouter categorie</h4>
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    </div>
                    <div class="modal-body">					
                        <div class="form-group">
                            <label>Nom Categorie</label>
                            <input type="text" class="form-control" placeholder="Nom Categorie" required autofocus name="libelle" ngModel>
                        </div>

                        <div *ngIf="currentFile" class="progress">
                            <div
                              class="progress-bar progress-bar-info progress-bar-striped"
                              role="progressbar"
                              attr.aria-valuenow="{{ progress }}"
                              aria-valuemin="0"
                              aria-valuemax="100"
                              [ngStyle]="{ width: progress + '%' }"
                            >
                              {{ progress }}%
                            </div>
                          </div>

                        <div class="form-group">
                            <label class="btn btn-default">
                                <input type="file" (change)="selectFile($event)" />
                            </label>
                        </div>
                       
                           
                       
                    					
                    </div>
                    <div class="modal-footer">
                        <input type="button" class="btn btn-default" data-dismiss="modal" value="Cancel">
                        <input type="submit" class="btn btn-success" value="Add">
                    </div>
                </form>
            </div>
        </div>
    </div>
    <!-- Edit Modal HTML -->
    <div id="editEmployeeModal" class="modal fade">
        <div class="modal-dialog">
            <div class="modal-content">
                <div  *ngIf="categorieUpdate">
                <form  #f="ngForm" (ngSubmit)="updateExtra(f.value)">
                    <div class="modal-header">						
                        <h4 class="modal-title">Edit Categorie</h4>
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    </div>
                    <div class="modal-body">					
                        <div class="form-group">
                            <label>Libellé</label>
                            <input type="text" class="form-control" placeholder="Nom Ingredient" required autofocus name="libelle" ngModel [(ngModel)]="categorieUpdate.libelle"> 
                        </div>
                                      
                        <div *ngIf="currentFileUpdate" class="progress">
                            <div
                              class="progress-bar progress-bar-info progress-bar-striped"
                              role="progressbar"
                              attr.aria-valuenow="{{ progress }}"
                              aria-valuemin="0"
                              aria-valuemax="100"
                              [ngStyle]="{ width: progress + '%' }"
                            >
                              {{ progress }}%
                            </div>
                          </div>

                        <div class="form-group">
                            <label>Image</label>
                            <label class="btn btn-default">
                                <input type="file" class="form-control" required autofocus (change)="selectFile($event)" />
                            </label>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <input type="button" class="btn btn-default" data-dismiss="modal" value="Cancel">
                        <input type="submit" class="btn btn-info" value="Save">
                    </div>
                </form>
            </div>
            </div>
        </div>
    </div>
    
