<div class="cadre">
  <img
    class="rounded-circle"
    style="margin-left:25%;width: 200px; height: 200px; border: 2px solid #000000"
    src="{{ host + this.product.imageProduit }}"
  />
  <div class="form-group">
    <label>Libelle Produit</label>
    <input
      type="text"
      class="form-control"
      name="nomProduit"
      [(ngModel)]="this.product.nomProduit"
      required
    />
  </div>
  <div class="form-group"></div>
  <div class="form-group">
  <label>Choisir Les Ingredients</label>
    <div class="row">
      <div
        style="margin-right: 2px"
        *ngFor="let ingr of this.product.ingredients"
      >
        <div>
          <input
            type="checkbox"
            class="css-checkbox"
            checked
            id="{{ ingr.nameIngredient }}"
            (change)="onUnchecked(ingr, $event)"
          />
          {{ ingr.nameIngredient }}

          <label class="css-label" for="{{ ingr.nameIngredient }}">
            <img class="image" src="{{ localhost + ingr.image }}" />
          </label>
        </div>
      </div>
    </div>
	
    <div class="row">
      <div
        style="margin-right: 2px"
        *ngFor="let ingr of this.ingredientsUnchecked"
      >
        <div>
          <input
            type="checkbox"
            class="css-checkbox"
            
            id="{{ ingr.nameIngredient }}"
             (change)="onCheckedIngredient(ingr, $event)"
          />
          {{ ingr.nameIngredient }}

          <label class="css-label" for="{{ ingr.nameIngredient }}">
            <img class="image" src="{{ localhost + ingr.image }}" />
          </label>
        </div>
      </div>
    </div>

    
    
  </div>

  <a
    href="#addDescription"
    style="width: 200px"
    class="btn btn-primary btn-block"
    data-toggle="modal"
    >Ajouter Description</a
  >
  <br />
  
  <div *ngFor="let des of this.product.description">
    <div class="card card-primary">
      <div class="card-header">
        <h3 class="card-title">Description</h3>

        <div class="card-tools">
          <button
            type="button"
            class="btn btn-tool"
            data-card-widget="collapse"
          >
            <i class="fas fa-plus"></i>
          </button>
          <button type="button" class="btn btn-tool" (click)="delete(des)">
            <i class="fas fa-times-circle"></i>
          </button>
        </div>
        <!-- /.card-tools -->
      </div>
      <!-- /.card-header -->
      <div class="card-body box collapsed-box" style="display :none ;">
        <dl class="row">
          <dt class="col-sm-4">Description</dt>
          <dd class="col-sm-8">{{ des.description }}</dd>
          <dt class="col-sm-4">Taille</dt>
          <dd class="col-sm-8">{{ des.size }}</dd>
          <dt class="col-sm-4">Prix</dt>
          <dd class="col-sm-8">{{ des.price }} Dt</dd>
          <dt class="col-sm-4">Nombre Viandes</dt>
          <dd class="col-sm-8">{{ des.nbViande }}</dd>
          <dt class="col-sm-4">Nombre Viandes</dt>
          <dd class="col-sm-8">{{ des.nbIngr }}</dd>
        </dl>
      </div>
      <!-- /.card-body -->
    </div>
    <!-- /.card -->
  </div>
  <a (click)="update()" style="width: 200px;margin-left:25%;" class="btn btn-success btn-block"
    >update</a
  >
  <br />
</div>


<div id="addDescription" class="modal fade">
  <div class="modal-dialog">
    <div class="modal-content">
      <form #f2="ngForm" (ngSubmit)="addDescription(f2.value)">
        <div class="modal-header">
          <h4 class="modal-title">Ajouter Produit</h4>
          <button
            type="button"
            class="close"
            data-dismiss="modal"
            aria-hidden="true"
          >
            &times;
          </button>
        </div>
        <div class="modal-body">
          <div class="form-group">
            <label>Description</label>
            <input
              type="text"
              class="form-control"
              name="description"
              ngModel
              required
            />
          </div>
          <div class="form-group">
            <label>Taille</label>
            <input
              type="text"
              class="form-control"
              name="size"
              ngModel
              required
            />
          </div>

          <div class="form-group">
            <label>Prix</label>
            <input
              type="number"
              class="form-control"
              name="price"
              ngModel
              required
            />
          </div>

          <div class="form-group">
            <label>Nombre De Viandes</label>
            <input
              type="number"
              class="form-control"
              name="nbViande"
              value="0"
              ngModel
              required
            />
          </div>
          <div class="form-group">
            <label>Nombre De ing</label>
            <input
              type="number"
              class="form-control"
              name="nbIngr"
              value="0"
              ngModel
              required
            />
          </div>
        </div>
        <div
          class="alert alert-success alert-dismissible"
          *ngIf="descriptionAdded"
        >
          <button
            type="button"
            class="close"
            data-dismiss="alert"
            aria-hidden="true"
          >
            &times;
          </button>
          <h5><i class="icon fas fa-check"></i> Notification!</h5>
          Description Ajouter avec succes
        </div>
        <div class="modal-footer">
          <input
            type="button"
            class="btn btn-default"
            data-dismiss="modal"
            value="Cancel"
          />
          <input type="submit" class="btn btn-success" value="Add" />
        </div>

      </form>
    </div>
  </div>
  
</div>
