.cadre{
  margin-left: 30%;
  width : 50%;
  margin-right: auto;
}

  input[type=checkbox].css-checkbox{ display: none;
  }
  
  input[type=checkbox] + label  {
     display:block;
     padding: 0 0 0 0px;
   
     
     height: 80px;
     width: 80px;
    
     
  }
  
  /*
  input[type=checkbox].css-checkbox  > div  {
     display: none;
  }
  input[type=checkbox].css-checkbox:active, input[type=checkbox].css-checkbox:hover  > div {
     display: block;
     
  }*/
  .center{
     display: flex;
    justify-content: center;
    align-items: center;
     
    
  }
  .sp {
     font-size:23px;
     cursor: pointer;
     margin-right: 5px;
  }
  .disabledContent 
  {  pointer-events:none;
      cursor: not-allowed;
      color: rgb(99, 99, 99) !important;
  }
  
  
  .black{
     
    // background-color : #131413;
     color: rgb(34, 33, 33);
     padding: 3px 3px 3px 3px;
    
  }
  /*
  input[type=checkbox].css-checkbox:active, input[type=checkbox].css-checkbox:hover  + label.css-label > div +img {
     display: none;
     
  }
  */
  input[type=checkbox][disabled].css-checkbox + label.css-label{
     
   
  
     opacity: .3;
  }
  
  
  
  input[type=checkbox].css-checkbox:checked + label.css-label {
  
     height: 80px;
     width: 80px;
     display:block;
     
     
     border: 3px solid #fe696a;
     color: #e8f859 ;
  }
  
  .image{
      height: 73px;
      width: 73px;
  }
  input[type=checkbox].css-checkbox:hover + label.css-label {
      border: 3px solid #fe696a;
  
  }
  
  
  