
<html lang="en">

    <script>
    $(document).ready(function(){
        // Activate tooltip
        $('[data-toggle="tooltip"]').tooltip();
        
        // Select/Deselect checkboxes
        var checkbox = $('table tbody input[type="checkbox"]');
        $("#selectAll").click(function(){
            if(this.checked){
                checkbox.each(function(){
                    this.checked = true;                        
                });
            } else{
                checkbox.each(function(){
                    this.checked = false;                        
                });
            } 
        });
        checkbox.click(function(){
            if(!this.checked){
                $("#selectAll").prop("checked", false);
            }
        });
    });
    </script>
    
  
    
    <body>
    <div class="container-xl">
        <div class="table-responsive">
            <div class="table-wrapper">
                <div class="table-title">
                    <div class="row">
                        <div class="col-sm-6">
                            <h2> Gérer <b>Extras</b></h2>
                        </div>
                        <div class="col-sm-6">
                            <a href="#addEmployeeModal" class="btn btn-success" data-toggle="modal"><i class="material-icons">&#xE147;</i> <span>Ajouter nouveau extras</span></a>				
                        </div>
                    </div>
                </div>
                <table class="table table-striped table-hover">
                    <thead>
                        <tr>
                            <th>
                                <span class="custom-checkbox">
                                    <input type="checkbox" id="selectAll">
                                    <label for="selectAll"></label>
                                </span>
                            </th>
                            <th>id</th>
                            <th>Nom Extras</th>
                            <th>Prix</th>
                            <th>Image</th>
                            <th>Categorie</th>
                            
                            <th>Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let e of extras">
                            <td>
                                <span class="custom-checkbox">
                                    <input type="checkbox" id="checkbox1" name="options[]" value="1">
                                    <label for="checkbox1"></label>
                                </span>
                            </td>
                            <td>{{ e?.id }}</td>
                            <td>{{ e?.nomExtras }}</td>
                            <td>{{ e?.price }}</td>
                            <td id="foodImg">
                                <img src="{{ host + e.imageExtras }}"/>
                            </td>  
                            <td>{{ e?.categorie?.libelle }}</td>
                            <td>
                                <a href="" class="delete" (click)="deleteExtra(e.id)" data-toggle="modal"><i class="material-icons" data-toggle="tooltip" title="Delete">&#xE872;</i></a>
                                <a href="#editEmployeeModal" class="edit" (click)="getExtraUpdate(e?.id)"  data-toggle="modal" ><i class="material-icons" data-toggle="tooltip" title="Edit">&#xE254;</i></a>
                            </td>
                        </tr>

                    </tbody>
                </table>
            </div>
        </div>        
    </div>
    <!-- Edit Modal HTML -->
    <div id="addEmployeeModal" class="modal fade">
        <div class="modal-dialog">
            <div class="modal-content">
                <form #f="ngForm" (ngSubmit)="addExtras(f.value)">
                    <div class="modal-header">						
                        <h4 class="modal-title">Ajouter Extras</h4>
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    </div>
                    <div class="modal-body">					
                        <div class="form-group">
                            <label>Nom Extras</label>
                            <input type="text" class="form-control" placeholder="Nom extras" required autofocus name="nomExtras" ngModel>
                        </div>

                        <div class="form-group">
                            <label>Prix</label>
                            <input type="number" class="form-control" placeholder="Prix" required autofocus name="price" ngModel>
                        </div>
                        <div class="form-group">
                            <label>Choisir Categorie</label>
                            <select class="custom-select" (ngModelChange)="onSelectedCategorie($event)" (ngModel)="categorie" name="categorie">
                                <option [ngValue]="c" *ngFor="let c of categories" >
                                    {{c.libelle}}
                                </option>
                            </select>
                        </div>


                        <div *ngIf="currentFile" class="progress">
                            <div
                              class="progress-bar progress-bar-info progress-bar-striped"
                              role="progressbar"
                              attr.aria-valuenow="{{ progress }}"
                              aria-valuemin="0"
                              aria-valuemax="100"
                              [ngStyle]="{ width: progress + '%' }"
                            >
                              {{ progress }}%
                            </div>
                          </div>

                        <div class="form-group">
                            <label class="btn btn-default">
                                <input type="file" class="form-control" required autofocus (change)="selectFile($event)" />
                            </label>
                        </div>
                       
                           
                       
                    					
                    </div>
                    <div class="modal-footer">
                        <input type="button" class="btn btn-default" data-dismiss="modal" value="Cancel">
                        <input type="submit" class="btn btn-success" value="Add">
                    </div>
                </form>
            </div>
        </div>
    </div>
    <!-- Edit Modal HTML -->
    <div id="editEmployeeModal" class="modal fade">
        <div class="modal-dialog">
            <div class="modal-content">
            <div  *ngIf=extraUpdate>
                <form #f="ngForm" (ngSubmit)="updateExtra(f.value)">
                    <div class="modal-header">						
                        <h4 class="modal-title">Editer Extras</h4>
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    </div>
                    <div class="modal-body">					
                        <div class="form-group">
                            <label>Nom extras</label>
                            <input type="text" class="form-control" placeholder="Nom extras" required autofocus required autofocus name="nomExtras" ngModel [(ngModel)]="extraUpdate.nomExtras">

                        </div>
                        <div class="form-group">
                            <label>Prix</label>
                            <input type="number" class="form-control" placeholder="Nom extras" required autofocus required autofocus name="price" ngModel [(ngModel)]="extraUpdate.price">

                        </div>
                     
                        <div class="form-group">
                            <label>categorie</label>
                            <select class="custom-select" (ngModelChange)="onSelectedCategorie($event)"  name="categorie" ngModel [(ngModel)]="extraUpdate.categorie">
                                <option [ngValue]="c" *ngFor="let c of categories" >
                                    {{c.libelle}}
                                </option>
                            </select>
                        </div>

                        <div *ngIf="currentFileUpdate" class="progress">
                            <div
                              class="progress-bar progress-bar-info progress-bar-striped"
                              role="progressbar"
                              attr.aria-valuenow="{{ progress }}"
                              aria-valuemin="0"
                              aria-valuemax="100"
                              [ngStyle]="{ width: progress + '%' }"
                            >
                              {{ progress }}%
                            </div>
                          </div>

                        <div class="form-group">
                            <label class="btn btn-default">
                                <input type="file" class="form-control" required autofocus (change)="selectFile($event)" />
                            </label>
                        </div>
                    				
                    </div>
                    <div class="modal-footer">
                        <input type="button" class="btn btn-default" data-dismiss="modal" value="Cancel">
                        <input type="submit" class="btn btn-info" value="Save">
                    </div>
                </form>
            </div>
            </div>
        </div>
    </div>
  
    </body>
    </html>
    
