<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Tacos dashboard</title>

  <!-- Google Font: Source Sans Pro -->
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700&display=fallback">
  <!-- Font Awesome Icons -->
  <link rel="stylesheet" href="/assets/plugins/fontawesome-free/css/all.min.scss">
  <!-- IonIcons -->
  <link rel="stylesheet" href="https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">
  <!-- Theme style -->
  <link rel="stylesheet" href="/assets/css/adminlte.min.scss">
</head>
<!--
`body` tag options:

  Apply one or more of the following classes to to the body tag
  to get the desired effect

  * sidebar-collapse
  * sidebar-mini
-->
<body class="hold-transition sidebar-mini">

 
  
  <div class="hold-transition sidebar-mini">
    <div class="wrapper">

      <app-navbar></app-navbar>
        <!-- Main Sidebar Container -->
        <aside class="main-sidebar sidebar-dark-primary elevation-4">
          <!-- Brand Logo -->
          <a href="index3.html" class="brand-link">
            <img src="/assets/img/AdminLTELogo.png" alt="AdminLTE Logo" class="brand-image img-circle elevation-3" style="opacity: .8">
            <span class="brand-text font-weight-light">Tacos dashboard</span>
          </a>
      
          <!-- Sidebar -->
          <div class="sidebar" *ngIf="showAdminBoard" >
            <!-- Sidebar user panel (optional) -->
          
      
      
      
            <!-- Sidebar Menu -->
            <nav class="mt-2">
              <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
                <!-- Add icons to the links using the .nav-icon class
                    with font-awesome or any other icon font library -->
          
              
                <li class="nav-item">
                  <a [routerLink]="['Dashboard/produit']" class="nav-link">
              
                    <i class="nav-icon fas fa-hamburger"></i>
                    <p>
                      Produits
                    </p>
                  </a>
                
                </li>
                <li class="nav-item">
                  <a [routerLink]="['Dashboard/ingredient']"  class="nav-link">
                
                    <i class="nav-icon fas fa-bread-slice"></i>
                    <p>
                      Ingredients
                    </p>
                  </a>
                </li>
                <li class="nav-item">
                  <a [routerLink]="['Dashboard/categorie']" class="nav-link">
            
                    <i class="nav-icon fas fa-drumstick-bite"></i>
                    <p>
                    Categories
                    </p>
                  </a>
                </li>
                <li class="nav-item">
                  <a [routerLink]="['Dashboard/extras']" class="nav-link">
                
                    <i class="nav-icon fas fa-apple-alt"></i>
                    <p>
                      Extras
                    </p>
                  </a>
            
                </li>

                <li class="nav-item">
                  <a [routerLink]="['Dashboard/users']" class="nav-link">
                
                    <i class="nav-icon fas fa-users"></i>
                   
                    <p>
                      Utilisateurs
                    </p>
                  </a>
            
                </li>

                <li class="nav-item">
                  <a [routerLink]="['Dashboard/admins']" class="nav-link">
                
                    <i class=" nav-icon fas fa-user-alt"></i>
                    <p>
                      Admins
                    </p>
                  </a>
            
                </li>
            
              </ul>
            </nav>
            <!-- /.sidebar-menu -->
          </div>
          <!-- /.sidebar -->
        </aside>
    <div class="content-wrapper">
        
        <div class="page-wrapper" style="min-height: 576px;">
          <div class="content">
            <div container-fluid>
              <router-outlet></router-outlet>
            </div>
          </div> 
        </div>
        
        <app-footer></app-footer>
    </div>
    </div>
<!-- ./wrapper -->

<!-- REQUIRED SCRIPTS -->

</div>
</body>
</html>

