
    <div class="container-xl">
        <div class="table-responsive">
            <div class="table-wrapper">
                <div class="table-title">
                    <div class="row">
                        <div class="col-sm-6">
                            <h2> Gérer <b>Ingredients</b></h2>
                        </div>
                        <div class="col-sm-6">
                            <a href="#addEmployeeModal" class="btn btn-success" data-toggle="modal"><i class="material-icons">&#xE147;</i> <span>Ajouter nouveau ingredient</span></a>				
                        </div>
                    </div>
                </div>
                <table class="table table-striped table-hover">
                    <thead>
                        <tr>
                            <th>
                                <span class="custom-checkbox">
                                    <input type="checkbox" id="selectAll">
                                    <label for="selectAll"></label>
                                </span>
                            </th>
                            <th>id</th>
                            <th>nomIngredient</th>
                            <th>Type</th>
                            <th>image</th>
                            
                            <th>Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let i of ingredients">
                            <td>
                                <span class="custom-checkbox">
                                    <input type="checkbox" id="checkbox1" name="options[]" value="1">
                                    <label for="checkbox1"></label>
                                </span>
                            </td>
                            <td>{{ i?.id }}</td>
                            <td>{{ i?.nameIngredient }}</td>
                            <td>{{ i?.type }}</td>
                            
                            <td id="foodImg">
                                <img src="{{ host + i.image }}"/>
                            </td>  
                          
                            <td>
                                <a href="" class="delete" (click)="deleteIngred(i.id)" data-toggle="modal"><i class="material-icons" data-toggle="tooltip" title="Delete">&#xE872;</i></a>
                                <a href="#editEmployeeModal" class="edit" (click)="getIngredUpdate(i?.id)"  data-toggle="modal" ><i class="material-icons" data-toggle="tooltip" title="Edit">&#xE254;</i></a>
                            </td>
                        </tr>

                    </tbody>
                </table>
            </div>
        </div>        
    </div>
    <!-- Edit Modal HTML -->
    <div id="addEmployeeModal" class="modal fade">
        <div class="modal-dialog">
            <div class="modal-content">
                <form #f="ngForm" (ngSubmit)="addIngredient(f.value)">
                    <div class="modal-header">						
                        <h4 class="modal-title">Ajouter Ingredient</h4>
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    </div>
                    <div class="modal-body">					
                        <div class="form-group">
                            <label>Nom Ingredient</label>
                            <input type="text" class="form-control" placeholder="Nom Categorie" required autofocus name="nameIngredient" ngModel>
                        </div>

                        <div class="form-group">
                            <label>Type</label>
                            <select class="form-control" name="type" ngModel>
                                <option>Viandes</option>
                                <option>Sauces</option>
                                <option>topping</option>
                                <option>nappage</option>
                            </select>
                        </div>


                        <div *ngIf="currentFile" class="progress">
                            <div
                              class="progress-bar progress-bar-info progress-bar-striped"
                              role="progressbar"
                              attr.aria-valuenow="{{ progress }}"
                              aria-valuemin="0"
                              aria-valuemax="100"
                              [ngStyle]="{ width: progress + '%' }"
                            >
                              {{ progress }}%
                            </div>
                          </div>

                        <div class="form-group">
                            <label class="btn btn-default">
                                <input type="file" class="form-control" required autofocus (change)="selectFile($event)" />
                            </label>
                        </div>
                       
                           
                       
                    					
                    </div>
                    <div class="modal-footer">
                        <input type="button" class="btn btn-default" data-dismiss="modal" value="Cancel">
                        <input type="submit" class="btn btn-success" value="Add">
                    </div>
                </form>
            </div>
        </div>
    </div>
    <!-- Edit Modal HTML -->
    <div id="editEmployeeModal" class="modal fade">

        <div class="modal-dialog">
            <div class="modal-content">
                <div  *ngIf="ingredientUpdate">
                <form #f="ngForm" (ngSubmit)="updateIngred(f.value)">
                    <div class="modal-header">						
                        <h4 class="modal-title">Editer ingredient</h4>
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    </div>
                    <div class="modal-body">					
                        <div class="form-group">
                            <label>Nom ingredient</label>
                            <input type="text" class="form-control" placeholder="Nom Ingredient" required autofocus name="nameIngredient" ngModel [(ngModel)]="ingredientUpdate.nameIngredient"> 
                         </div>

                         
                        <div class="form-group">
                            <label>Type</label>
                            <select class="form-control" name="type" ngModel [(ngModel)]="ingredientUpdate.type">
                                <option>Viandes</option>
                                <option>Sauces</option>
                                <option>Bases sucrés</option>
                                <option>Toppings</option>
                            </select>
                        </div>

                        <div *ngIf="currentFileUpdate" class="progress">
                            <div
                              class="progress-bar progress-bar-info progress-bar-striped"
                              role="progressbar"
                              attr.aria-valuenow="{{ progress }}"
                              aria-valuemin="0"
                              aria-valuemax="100"
                              [ngStyle]="{ width: progress + '%' }"
                            >
                              {{ progress }}%
                            </div>
                          </div>

                        <div class="form-group">
                            <label class="btn btn-default">
                                <input type="file" class="form-control" required autofocus (change)="selectFile($event)" />
                            </label>
                        </div>
                       

                    				
                    </div>
                    <div class="modal-footer">
                        <input type="button" class="btn btn-default" data-dismiss="modal" value="Cancel">
                        <input type="submit" class="btn btn-info" value="Save">
                    </div>
                </form>
            </div>
            </div>
        </div>
    </div>
