<div class="hold-transition login-page" *ngIf="!showAdminBoard">
<div class="login-box">
    <div class="login-logo">
      <a href="../../index2.html"><b>Dashboard</b></a>
    </div>
    <!-- /.login-logo -->
    <div class="card">
      <div class="card-body login-card-body">
        <p class="login-box-msg">Veuillez se connecter</p>
  
        <form  *ngIf="!showAdminBoard"
            name="form"
            (ngSubmit)="f.form.valid && onSubmit()"
            #f="ngForm"
            novalidate>
          <div class="input-group mb-3">
            <input type="text" class="form-control" placeholder="pseudo" name="username"
            [(ngModel)]="form.username"
            required
            #username="ngModel">
            <div class="input-group-append">
              <div class="input-group-text">
                <i class="fas fa-user-alt"></i>
              </div>
            </div>
          </div>

          <div
          class="alert alert-danger"
          role="alert"
          *ngIf="f.submitted && username.invalid"
          >
            pseudo est obligatoire!!
          </div>

          <div class="input-group mb-3">
            <input type="password" class="form-control" placeholder="mdp" name="password"
            [(ngModel)]="form.password"
            required
            #password="ngModel">
            <div class="input-group-append">
              <div class="input-group-text">
                <span class="fas fa-lock"></span>
              </div>
            </div>
          </div>

          <div
          class="alert alert-danger"
          role="alert"
          *ngIf="f.submitted && password.invalid"
          >
          <div *ngIf="password.errors.required">mdp obligatoire</div>
          <div *ngIf="password.errors.minlength">
            minimuin 6 caracteres
          </div>
        </div>

        <div class="form-group">
          <div
            class="alert alert-danger"
            role="alert"
            *ngIf="f.submitted && isLoginFailed"
          >
            Login failed: {{ errorMessage }}
          </div>
        </div>
       
        <div class="row">
          <!-- /.col -->
          <div class="col-9">
            <button type="submit" class="btn btn-primary btn-block" style="width: 135%;">Se connecter</button>
          </div>
          <!-- /.col -->
        </div>
        </form>
        
      </div>
      <!-- /.login-card-body -->
    </div>
  </div>
</div>




















